---
import Layout from "@/layouts/Layout.astro";
import Dashboard from "@/components/Dashboard.astro";
---

<Layout>
    <main>
        <Dashboard />
    </main>
</Layout>

<style>
    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

<script src="@/scripts/timer.js"></script>
<script src="@/scripts/image-drop.js"></script>
