<div class="credits">
    Construido con <a
        class="link astro"
        href="https://astro.build/"
        target="_blank"
        rel="noopener noreferrer"
    >
        <svg
            class="icon astro"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <g>
                <path
                    d="M9.19328 19.0349C8.28339 18.2089 8.01775 16.4736 8.39686 15.2163C9.05417 16.009 9.96495 16.2601 10.9083 16.4018C12.3647 16.6205 13.795 16.5387 15.1479 15.8777C15.3026 15.8021 15.4457 15.7014 15.6148 15.5995C15.7417 15.9652 15.7748 16.3344 15.7304 16.7102C15.6226 17.6254 15.164 18.3323 14.4345 18.8682C14.1428 19.0825 13.8341 19.2742 13.5328 19.4762C12.6073 20.0974 12.3569 20.8258 12.7047 21.8852C12.7129 21.9112 12.7203 21.937 12.739 22C12.2664 21.7899 11.9213 21.4841 11.6582 21.0821C11.3804 20.6578 11.2483 20.1884 11.2413 19.6805C11.2379 19.4334 11.2379 19.184 11.2044 18.9404C11.1227 18.3463 10.8418 18.0803 10.3127 18.065C9.76975 18.0493 9.34024 18.3826 9.22633 18.9076C9.21764 18.9478 9.20503 18.9876 9.19241 19.0344L9.19328 19.0349Z"
                    fill="currentColor"></path>
                <path
                    d="M4 15.0068C4 15.0068 6.69438 13.7035 9.39629 13.7035L11.4334 7.44307C11.5097 7.14032 11.7324 6.93456 11.9838 6.93456C12.2352 6.93456 12.4579 7.14032 12.5342 7.44307L14.5713 13.7035C17.7713 13.7035 19.9676 15.0068 19.9676 15.0068C19.9676 15.0068 15.391 2.6266 15.382 2.60176C15.2507 2.23574 15.0289 2 14.73 2H9.2381C8.93914 2 8.72634 2.23574 8.58605 2.60176C8.57615 2.62614 4 15.0068 4 15.0068Z"
                    fill="currentColor"></path>
            </g>
        </svg>
        Astro
    </a>
    y con <svg
        class="icon"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M21 10C21 15.75 12.75 20 12 20C11.25 20 3 15.75 3 10C3 6 5.5 4 8 4C10.5 4 12 5.5 12 5.5C12 5.5 13.5 4 16 4C18.5 4 21 6 21 10Z"
            fill="#f43f5e4d"
            stroke="#f43f5e"
            stroke-width="2"
            stroke-linejoin="round"></path>
    </svg>
    por <a
        class="link personal"
        href="https://luisromero.co"
        target="_blank"
        rel="noopener noreferrer"
    >
        Luis Romero
    </a>
    <a
        href="https://github.com/luiscobot/timerbot"
        target="_blank"
        rel="noopener noreferrer"
    >
        <svg
            class="icon github"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M12 1.95068C17.525 1.95068 22 6.42568 22 11.9507C21.9995 14.0459 21.3419 16.0883 20.1198 17.7902C18.8977 19.4922 17.1727 20.768 15.1875 21.4382C14.6875 21.5382 14.5 21.2257 14.5 20.9632C14.5 20.6257 14.5125 19.5507 14.5125 18.2132C14.5125 17.2757 14.2 16.6757 13.8375 16.3632C16.0625 16.1132 18.4 15.2632 18.4 11.4257C18.4 10.3257 18.0125 9.43818 17.375 8.73818C17.475 8.48818 17.825 7.46318 17.275 6.08818C17.275 6.08818 16.4375 5.81318 14.525 7.11318C13.725 6.88818 12.875 6.77568 12.025 6.77568C11.175 6.77568 10.325 6.88818 9.525 7.11318C7.6125 5.82568 6.775 6.08818 6.775 6.08818C6.225 7.46318 6.575 8.48818 6.675 8.73818C6.0375 9.43818 5.65 10.3382 5.65 11.4257C5.65 15.2507 7.975 16.1132 10.2 16.3632C9.9125 16.6132 9.65 17.0507 9.5625 17.7007C8.9875 17.9632 7.55 18.3882 6.65 16.8757C6.4625 16.5757 5.9 15.8382 5.1125 15.8507C4.275 15.8632 4.775 16.3257 5.125 16.5132C5.55 16.7507 6.0375 17.6382 6.15 17.9257C6.35 18.4882 7 19.5632 9.5125 19.1007C9.5125 19.9382 9.525 20.7257 9.525 20.9632C9.525 21.2257 9.3375 21.5257 8.8375 21.4382C6.8458 20.7752 5.11342 19.502 3.88611 17.799C2.65881 16.096 1.9989 14.0498 2 11.9507C2 6.42568 6.475 1.95068 12 1.95068Z"
                fill="currentColor"></path>
        </svg>
    </a>
</div>

<style>
    .credits {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        padding: 24px;
        color: #71717a;
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 500;
    }

    .link {
        display: flex;
        align-items: center;
        gap: 4px;
        color: currentColor;
        text-decoration: none;
        transition: color 0.2s ease;
    }

    .icon {
        width: 24px;
        height: 24px;
        transition: color 0.2s ease;
    }

    .link.astro,
    .icon.astro {
        color: white;
    }

    .link.personal:hover {
        color: #ff4a00;
    }

    .icon.github {
        color: #3f3f46;
    }

    .icon.github:hover {
        color: #71717a;
    }
</style>
