---
import ImageDrop from "@/components/ImageDrop.astro";
import TimerDisplay from "@/components/TimerDisplay.astro";
---

<div class="dashboard">
    <TimerDisplay />

    <div class="controls">
        <button data-toggle class="control start">Start</button>
        <button data-reset class="control reset">Reset</button>
    </div>

    <div class="image-section">
        <ImageDrop />
    </div>

    <audio id="timer-sound" preload="auto">
        <source src="/timer-complete.mp3" type="audio/mpeg">
    </audio>
</div>

<style>
    .dashboard {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .image-section {
        display: flex;
        justify-content: center;
    }

    .display {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .minutes,
    .seconds {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .digits {
        font-size: 12rem;
        line-height: 16rem;
        font-weight: 700;
        color: #fafafa;
        font-variant-numeric: tabular-nums;
    }

    .label {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
        color: #52525b;
        text-align: center;
        text-transform: uppercase;
    }

    .separator {
        font-size: 6rem;
        color: #a1a1aa;
    }

    .controls {
        display: flex;
        justify-content: center;
        gap: 48px;
    }

    .control {
        width: 25%;
        padding: 18px 24px;
        border: none;
        border-radius: 64px;
        font-size: 1rem;
        font-weight: 500;
        color: #fafafa;
    }

    .control.start {
        background-color: #65a30d;
    }

    .control.pause {
        background-color: #d97706;
    }

    .control.reset {
        background-color: #52525b;
    }
</style>
