---
import ImageDrop from "@/components/ImageDrop.astro";
import TimerDisplay from "@/components/TimerDisplay.astro";
import Credits from "@/components/Credits.astro";
---

<div class="dashboard">
    <TimerDisplay />

    <div class="controls">
        <button data-toggle class="control start">Iniciar</button>
        <button data-reset class="control reset">Reiniciar</button>
    </div>

    <ImageDrop />

    <a class="stream" href="/timer" target="_blank" rel="noopener noreferrer">
        <svg class="icon" viewBox="0 0 24 24" fill="none">
            <path
                d="M5.5 18C6.05228 18 6.5 17.5523 6.5 17C6.5 16.4477 6.05228 16 5.5 16V18ZM18.5 16C17.9477 16 17.5 16.4477 17.5 17C17.5 17.5523 17.9477 18 18.5 18V16ZM4.6 17V18H5.5V17V16H4.6V17ZM3 15.4H4V5.6H3H2V15.4H3ZM4.6 4V5H19.4V4V3H4.6V4ZM21 5.6H20V15.4H21H22V5.6H21ZM19.4 17V16H18.5V17V18H19.4V17ZM21 15.4H20C20 15.6965 19.9992 15.8588 19.9897 15.9754C19.9811 16.0803 19.9707 16.0575 20 16L20.891 16.454L21.782 16.908C21.9203 16.6366 21.9644 16.3668 21.9831 16.1382C22.0008 15.9213 22 15.6635 22 15.4H21ZM19.4 17V18C19.6635 18 19.9213 18.0008 20.1382 17.9831C20.3668 17.9644 20.6366 17.9203 20.908 17.782L20.454 16.891L20 16C20.0575 15.9707 20.0803 15.9811 19.9754 15.9897C19.8588 15.9992 19.6965 16 19.4 16V17ZM20.891 16.454L20 16L20.454 16.891L20.908 17.782C21.2843 17.5903 21.5903 17.2843 21.782 16.908L20.891 16.454ZM19.4 4V5C19.6965 5 19.8588 5.00078 19.9754 5.0103C20.0803 5.01887 20.0575 5.0293 20 5L20.454 4.10899L20.908 3.21799C20.6366 3.07969 20.3668 3.03562 20.1382 3.01695C19.9213 2.99922 19.6635 3 19.4 3V4ZM21 5.6H22C22 5.33647 22.0008 5.07869 21.9831 4.86177C21.9644 4.63318 21.9203 4.36344 21.782 4.09202L20.891 4.54601L20 5C19.9707 4.94249 19.9811 4.91972 19.9897 5.02463C19.9992 5.14122 20 5.30347 20 5.6H21ZM20.454 4.10899L20 5L20.891 4.54601L21.782 4.09202C21.5903 3.71569 21.2843 3.40973 20.908 3.21799L20.454 4.10899ZM3 5.6H4C4 5.30347 4.00078 5.14122 4.0103 5.02463C4.01887 4.91972 4.0293 4.94249 4 5L3.10899 4.54601L2.21799 4.09202C2.07969 4.36344 2.03562 4.63318 2.01695 4.86177C1.99922 5.07869 2 5.33648 2 5.6H3ZM4.6 4V3C4.33647 3 4.07869 2.99922 3.86177 3.01695C3.63318 3.03562 3.36344 3.07969 3.09202 3.21799L3.54601 4.10899L4 5C3.94249 5.0293 3.91972 5.01887 4.02463 5.0103C4.14122 5.00078 4.30347 5 4.6 5V4ZM3.10899 4.54601L4 5L3.54601 4.10899L3.09202 3.21799C2.71569 3.40973 2.40973 3.71569 2.21799 4.09202L3.10899 4.54601ZM4.6 17V16C4.30347 16 4.14122 15.9992 4.02463 15.9897C3.91972 15.9811 3.94249 15.9707 4 16L3.54601 16.891L3.09202 17.782C3.36344 17.9203 3.63318 17.9644 3.86177 17.9831C4.07869 18.0008 4.33647 18 4.6 18V17ZM3 15.4H2C2 15.6635 1.99922 15.9213 2.01695 16.1382C2.03562 16.3668 2.07969 16.6366 2.21799 16.908L3.10899 16.454L4 16C4.0293 16.0575 4.01887 16.0803 4.0103 15.9754C4.00078 15.8588 4 15.6965 4 15.4H3ZM3.54601 16.891L4 16L3.10899 16.454L2.21799 16.908C2.40973 17.2843 2.71569 17.5903 3.09202 17.782L3.54601 16.891Z"
                fill="currentColor"></path>
            <path
                d="M12 15L12.7809 14.3753C12.5911 14.1381 12.3038 14 12 14C11.6962 14 11.4089 14.1381 11.2191 14.3753L12 15ZM8 20L7.21913 19.3753C6.979 19.6755 6.93218 20.0867 7.0987 20.4332C7.26522 20.7797 7.61559 21 8 21V20ZM16 20V21C16.3844 21 16.7348 20.7797 16.9013 20.4332C17.0678 20.0867 17.021 19.6755 16.7809 19.3753L16 20ZM12 15L11.2191 14.3753L7.21913 19.3753L8 20L8.78087 20.6247L12.7809 15.6247L12 15ZM8 20V21H16V20V19H8V20ZM16 20L16.7809 19.3753L12.7809 14.3753L12 15L11.2191 15.6247L15.2191 20.6247L16 20Z"
                fill="currentColor"></path>
        </svg>
        <span>Projectar</span>
    </a>

    <audio id="timer-sound" preload="auto">
        <source src="/timer-complete.mp3" type="audio/mpeg" />
    </audio>
</div>

<Credits />

<style>
    body {
        background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='30' cy='30' r='0.5' fill='%233f3f46'/%3E%3C/svg%3E");
    }

    .dashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .display {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .minutes,
    .seconds {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .digits {
        font-size: 12rem;
        line-height: 16rem;
        font-weight: 700;
        color: #fafafa;
        font-variant-numeric: tabular-nums;
    }

    .label {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
        color: #52525b;
        text-align: center;
        text-transform: uppercase;
    }

    .separator {
        font-size: 6rem;
        color: #a1a1aa;
    }

    .controls {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 48px;
    }

    .control {
        width: 25%;
        padding: 18px 24px;
        border: none;
        border-radius: 64px;
        font-size: 1rem;
        font-weight: 500;
        color: #fafafa;
        cursor: pointer;
        transition: background-color 0.2s ease;
    }

    .control.start {
        background-color: #84cc16cc;
    }

    .control.start:hover {
        background-color: #84cc16;
    }

    .control.pause {
        background-color: #eab308cc;
    }

    .control.pause:hover {
        background-color: #eab308;
    }

    .control.reset {
        background-color: #0ea5e9cc;
    }

    .control.reset:hover {
        background-color: #0ea5e9;
    }

    .stream {
        position: absolute;
        top: 24px;
        right: 24px;
        display: flex;
        gap: 8px;
        padding: 8px 12px;
        border-radius: 8px;
        border: 2px solid #3f3f46;
        background-color: #18181b;
        font-size: 1rem;
        font-weight: 500;
        color: #fafafa;
        text-decoration: none;
        transition: all 0.2s ease;
    }

    .stream:hover {
        border-color: #059669;
        background-color: #0596691a;
    }

    .stream .icon {
        width: 24px;
        height: 24px;
    }
</style>
